/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    background: #F1FAEE; 
    font-family: 'Lato', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

.hero{
    
    background-image: url("images/faisalmosque.png");
    background-size: cover;
    background-position: center;
    height:100vh;
    transition:0.3 all ease-out;
    opacity: 0.8; 
}

.hero:hover{
  opacity: 1; 
}

.container{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.hero-title{
  color: white;
  background-color: #1D3557;
  padding:5px 10px;
  border-radius: 5px;
  margin: 20px auto;
  font-size: 26px;
  border-radius: 10px;
  text-shadow: 2px 2px 10px black;
  
}
.hero-body{

   color: white;
   background-color:  #457B9D;
   padding:5px 10px;
   font-size: 20px;
   margin: 20px auto;
   border-radius: 10px;
   text-shadow: 2px 2px 10px black; 
}
.section-activities{
  margin-top: 25px;
  padding: 40px;
  font-weight: bold;

}
.rounded-image {
    border-radius: 50%;
    width: 100px;
    height:100px;
    opacity:1;
    margin-bottom: 5px;
}
rounded-image:hover{
  opacity:0.5;
}

footer{
    background: #000;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: none;
    padding: 40px 40px;
 }
 a.email-cta{
  background: white;
  color: black;
  padding: 3px 5px;
  margin: 20px 9px 10px 9px;
  transition: 0.3s all;
  border-radius:10px;
 }
 .email-cta:hover{
  color:rgba(0, 0, 0, 0.795)

 }
 .email-cta-image{
  width:20px;
  height:20px;
  margin-right: 16px;
 }
 
  @include media-breakpoint-up(sm){
  .hero{
  width: 90%; 
  height: 90%;
  padding: none;}

  }
  @include media-breakpoint-up(md){
    .hero{
    width: 90%; 
    height: 90%;
    padding: none;
    }
    
   }

 @include media-breakpoint-up(lg){
  .hero{
  width: 90%; 
  height: 90%;
  padding: none;
  }
  
 }
 @include media-breakpoint-up(xl){
  .hero{
  width: 90%; 
  height: 90%;
  }
 }


/*
h3{
    color:#000; 
    margin-bottom:.4rem;
  }
h4{
    margin-bottom:.4rem;
    font-size:1.5rem;
  }
.guide{
  display: flex;
  flex-direction: row;
  justify-content: start;
  width:250px;
  width: 250;
  border-radius:1px;
  margin-right:5px;  }
 
.h1{
    font-size: 20px;
    margin: 10px auto;
}

 .container-footer{
    font-size: 22px;
    background:  #A8DADC;
    color:#1D3557;
    border-bottom: 5px solid #1D3557;

 } 
.p{
    
    font-size: 16px;
    margin: 15px auto;
}
.activities-section{
    
    margin: 50px auto;
    background: #F1FAEE;
    padding:30px auto;
}
#sights{
  text-shadow: 1px 1px 50px blue;
  font-size: 25px;
  color: black;

}
*/
/*

.guide{
    text-shadow: 0px 0px 2px black;
    display:flex;
    flex-direction: column;
}
.guide-section{
    font-size: 22px;
    background:  #A8DADC;
    color:#1D3557;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-betweem;
    margin: 30px 100px ;
    padding: 20px 20px ;
    border-radius:10px;
    border-bottom: 5px solid #1D3557;
    
}

    
}*/
